@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
}
body, html {
  height: 100%;
}
.page {
  position: relative;
  margin-top: 130px;
  margin-bottom: -200px;
  width: 100%;
  height: fit-content;
  background-image: url(images/svgfaded.png);
  background-size: cover;
  background-color: #ebebeb;
 font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: normal;
  letter-spacing: .03em;
  color: #212121;
  overflow-x: hidden;
  min-height: calc(100% - 5%);
}

.header {  
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 1000ms cubic-bezier(.25,.37,.17,.96); 
  padding: .5em 0;
  color: #fff;
  background-image: url(images/dark-mosaic.png);
  background-color: url();
  background-attachment: fixed;
  background-size: cover;
  height: 120px;
  font-family: monospace;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.header .wrapper {
  font-family:'Courier New', Courier, monospace;
}
.wrapper {
  z-index: 4;
  height: 20vh;
  width: 160%;
  display: grid;
  place-items: center;
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
    0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 1.5px rgba(0, 0, 0, 0.224),
    0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
}

.typing {
  width: 32ch;
  animation: typing 2s steps(34), blink .7s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
/* When header is not in viewport we hide it */
.header[data-scroll="out"] {
  transform: translatey(-100%);
}

/* When moving up and header we show it */
[data-scroll-dir-y="-1"] .header {
  transform: translatey(0);
}



:root {
  --color-bone: #e0e0e0;
  --color-white: #ffffff;
  --color-varBone:  var(--color-bone);
  --color-offWhite: #feee;
}

html {
  height: 100%;
  font-size: 110%;
  background-color: #e0e0e0;
}


body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  line-height: 1.45;
  background: #ebebeb;
  background-color: var(--color-bone);

  
}


.container {
  max-width: 500px;
  margin-left: 8%;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  padding: 7.5em 0 4.5em;
}


main > div {
  margin: auto;
  max-width: 600px;
}
main h2 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}
#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 1;
  margin-top: -1.5%;
  
}
#nav-container .bg {
  position: absolute;
  top: 4%;
  left: 0;
  width: 100%;
  height: calc(100% - 16%);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
    0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
    0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  transition: 0.5s ease;
  z-index: 2;
 
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  margin-top: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 4;
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #454444;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 7%;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 200px);
  background: #ffffff;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
  z-index: 3;
 
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}


.tab2 {
  overflow: hidden;
  background-color: transparent;
      background: transparent;
      box-shadow:  0px 0px 0px transparent
                   0px 0px 0px transparent;
                   box-shadow: transparent 0px 0px 0px, transparent 0px 0px 0px;
                   box-shadow: none;
                  
  
}



/* Style the buttons inside the tab */
.tab #tabButton #tabButton1 #tabButton2 #tabButton3 #tabButton4 #closeButton {
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 28px;
  transition: 0.3s;
  font-size: 17px;
  background-position: -1;
}

/* Change background color of buttons on hover */
.tab #tabButton:hover, #tabButton1:hover, #tabButton2:hover, #tabButton3:hover, #tabButton4:hover, #closeButton:hover {
  background-color: rgb(13, 29, 50);
  color: var(--color-offWhite);
}



/* Create an active/current tablink class */
.tab #tabButton.active, #tabButton1.active, #tabButton2.active, #tabButton3.active, #tabButton4.active, #closeButton.active {
  background-color: rgba(75, 44, 44, 0.134);
}

#closeButton {
  float: right;
  margin-right: 1%;
}

#tabButton1, #tabButton2 {
  padding-bottom: 3%;
}


button {
  min-width: 100px;
  width: fit-content;
  box-sizing: border-box;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: -5%;
  padding: 2.5%;
  padding-top: 1%;
  padding-bottom: 2.5%;
  border: none;
  border-radius: 7px 7px 0 0;
  font-size: 18px;
  background: #ffffff;
  box-shadow:  8px -8px 6px #c5c5c5,
               -8px 8px 6px #e0e0e0;         
            
}        


div.cell2 button {
  margin-bottom: -3.5%;
}
div.cell5 button {
  margin-bottom: 0.5%;
  background-color: #ffffff;
}
div.cell18 button {
  margin-bottom: -1%;
  background-color: #ffffff;
}
div.cell6 button {
  margin-bottom: -1%;
  background-color: #ffffff;
}
div.cell3 button {
  margin-bottom: -4%;
  background-color: #ffffff;
}


/* Style the tab content */
.tabcontent {
  display: grid;
  align-items: flex-end;
  font-weight: normal;
  display: none;
  padding: 6px 12px;
  border: none;
  margin: 0;
  width: 100%;
  overflow-y: auto;
}



.tabHeader {
  width: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2%;
  transition: 0.3s;
  font-size: 17px;
  background-color: transparent;
  margin-bottom: -2.5%;
 
}

.tabHeader h2 {
  font-size: 35px;
}

.topTab {
  display: block;
  background: transparent;
}
.topTab :hover {
  background-color: none;
}
.author {
  background: none;
  font-size: 15px;
  font-weight: normal;
  
}

.author span {
  font-size: 18px;
  font-weight: 900;
}

.author a {
  text-decoration: underline;
}
.author a:link {
  font-weight: normal;
  color: rgb(32, 142, 216);
  font-size: 16px;
 
 
}

.author a:hover {
  font-weight: 900;
  color: rgb(224, 171, 64);
}

.author a:visited {
  color: rgb(91, 41, 179);
}




.directWindow {
  border: none;
  width:100%;
  height: 380px;
  overflow-y: auto;
  
}




.layout {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 26% 50% repeat(5, 20%) 87%;
  grid-template-rows: repeat(2, auto) repeat(3, auto) auto;
  column-gap: 30px;
  row-gap: 35px;
  margin-bottom: 20%;
  }
 
      .cell2 {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .cell3 {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .cell5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .cell6 {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      .cell18 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
}

  div.cell3042 .colors {
    width: 100%;
    height: 100%;
    display: block;
    background-color:hsla(0,100%,50%,1);
background-image: url(images/doodad22.png)

  }

  div.cell00 .colorss {
    width: 100%;
    height: 100%;
    display: block;
    background-color:#9bff99;
background-image: url(images/doodad21.png)

  }
  
  div.cell10101 .fun {
    width: 100%;
    height: 100%;
    display: block;
    background-color:#ffc599;
background-image: url(images/doodad12.png);
  }
.directWindow-cell18 {
  height: 530px;
  width: 100%;
  border: none;

}


    .layout > div {
      contain: content;
      background-color: transparent;
      border-radius: 10px;
background: transparent;
box-shadow:  7px -7px 14px #bebebe,
             -7px 7px 14px #ffffff;
             box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }



.layout > div > h2 {
      font-size: 20px;
    
    }
    
    .subContent {
      grid-row: 1/-1;
    }

    .subGrid {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: -1/5; 
    }

    div.pictura1 {
      background-image: url(images/llflfl.png);
      background-size: cover;
      height: 100%;
      width: 100%;
    
    }
    
    div.pictura2 {
      background-image: url(images/rdese.png);
      background-size: cover;
      height: 100%;
      width: 100%;
      margin-top: 4%;
    
    }
    div.pictura3 {
      background-image: url(images/rgggrwww.png);
      background-size: cover;
      height: 100%;
      width: 100%;
    
    }
    div.pictura4 {
      background-image: url(images/ploumgg.png);
      background-size: cover;
      height: 100%;
      width: 100%;
    
    }
    div.pictura5 {
      background-image: url(images/lalala.png);
      background-size: cover;
      height: 500%;
      width: 100%;
    
    }
    .centered {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    
    .drop {
      height: 150px;
      width: 150px;
      border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%;
      background: transparent;
      box-shadow: inset 6px 33px 20px 0 #c9c9c9, inset 20px 80px 15px 0 #e0e0e0, 10px 20px 20px 0px #c9c9c9;
    }
    
    .drop::before {
      content: '';
      position: absolute;
      border-radius: 37% 54% 46% 46%;
      background: white;
      width: 50px;
      transform: rotate(-30deg);
      height: 15px;
      top: 20px;
      left: 20px;
    }
    
    .drop::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      background: white;
      width:10px;
      height: 10px;
      top: 60px;
      left: 20px;
    }
    
    .footer {
      height: -10%;
    }
    


 
 

